.dropzone {
    width: 400px;
    height: 800px;
    background-color: #e74c3c;
    color: white;
    text-align: center;
    line-height: 100px;
}
.table-to-do{
    display: flex;
    flex-direction: row;
    gap: 10px;
}