body {
  padding: 0;
  margin: 0;
}
body header {
  width: 100%;
  height: 3rem;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-top: 0;
  margin: 0;
  background-color: black;
}
body header #btn-add {
  position: relative;
  left: 1.5rem;
  top: 1rem;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5%;
}
body header nav {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}
body header nav #nav-menu {
  position: relative;
  top: -2.5rem;
  display: flex;
  padding: 1rem;
  margin-right: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
body header nav #nav-menu .menu {
  color: white;
  list-style: none;
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 768px) {
  header {
    background-color: none;
  }
}
.dropzone {
  width: 400px;
  height: 800px;
  background-color: #e74c3c;
  color: white;
  text-align: center;
  line-height: 100px;
}

.table-to-do {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-menu {
    list-style: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    right: -100%;
    background-color: rgb(68, 68, 68);
    width: 100px;
    height: 100%;
    transition: 0.3s;
    padding: 1rem;
  }
  #nav-menu.active {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -11px 12px 16px 8px rgba(0, 0, 0, 0.36);
  }
  .nav-items {
    margin: 0;
  }
  .menu {
    font-size: 14px;
    padding: 10px;
  }
}
body {
  background: rgb(0, 139, 255);
}
body #table {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
body #table #card1, body #table #card2, body #table #card3 {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #table #card1 .carte, body #table #card2 .carte, body #table #card3 .carte {
  width: 300px;
  background: rgb(0, 139, 255);
  background: linear-gradient(132deg, rgb(0, 139, 255) 25%, rgb(0, 57, 179) 75%);
  margin: 20px;
  border-radius: 20px;
}
body #table #card1 .carte .title, body #table #card2 .carte .title, body #table #card3 .carte .title {
  margin: 15px;
}
body #table #card1 .carte .addTxt .editable-content, body #table #card2 .carte .addTxt .editable-content, body #table #card3 .carte .addTxt .editable-content {
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */