.dropzone{
    padding: 1rem;
}
.dragging {
    opacity: 0.7;
    transform: scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropHere{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px dashed white;
    padding: 1rem;
    color: white;
}
#labDate{
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}
#userdateInput1{
border: 1px dotted white;
padding: 5px;
margin-top: 12px;
color: white;
background: none;

}





